.contact_section{
   
  min-height:100vh;
  
   
    background-color:black;
    border-top:2px solid white;
  padding-top:34px
  }
  .contact_form{
   background-color: transparent;
    height: 445px;
    min-width: 500px;
    
  }
  .main_div{
    display:flex;
    justify-content:space-around;
    justify-content:center;
    align-items:center;
    min-height:90vh;
    gap:184px;
     
      background-color:black;
    
    padding-top:34px
  }
  .more_btn{
    padding-left: 670px;
  }
 .form_info{
  padding-bottom: 245px;
  /* padding-right: 120px; */
 }