.input1{
    min-height: 45px;
    min-width: 550px;
  background-color: darkgrey;
  font-weight: 700px;
  color: black;
  font-size: 19px;
}
.input2{
    min-height: 45px;
    min-width: 550px;
    background-color: darkgrey;
    font-weight: 700px;
    color: black;
    font-size: 19px;
}
.input3{
    min-height: 100px;
    min-width: 550px;
    background-color: darkgrey;
    font-weight: 700px;
    color: black;
    font-size: 19px;
}
.input2_css{
    padding-bottom: 23px;
    padding-top: 23px;
}
.input_btn{
    margin-top: 65px;

}
.inputBtn{
    font-size: 23px;
    min-width: 56px;
    min-height: 56px;
}
.form_section{
    padding-right: 120px;
    color: black;
}