*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    color:white;
  
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
   
  }
    .poppins-regular {
      font-family: "Poppins", system-ui;
      font-weight: 400;
      font-style: normal;
    }
  
  .navbar_section{
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0;
    z-index: 1000;
    min-height:70px;
    min-width:100vw;
    display:flex;
    justify-content:space-around;
    align-items:center;
    background-color:#14142f;
  }
  .nav_list{
    list-style:none;
    display:flex;
    justify-content:space-around;
    gap:33px;
    
  }
  .navbar_section h1{
    margin-right:400px;
    font-size:40px ;
    font-weight:400 bold;
  }
  .navbar_section nav ul li{
    font-size:20px;
    font-weight:400;
    cursor:pointer;
    
  }
  .navbar_section nav ul li:hover{
    color:yellow;
    font-size:25px;
  }